*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e23baa;
}

.title {
  text-align: center;
  padding: 30px;
  color: white;
}

.gen-container {
  width: 60%;
  margin: 0 auto;
  border: 1px solid black;
  text-align: center;
  background-color: white;
}

.container-box {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.container-box h3, h4 {
  padding: 20px;
  color: #e23baa;
}

.container-box input, select, button {
  margin-bottom: 20px;
  border: 1px solid #e23baa;
  border-radius: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.container-box button, #reset {
  margin-right: 20px;
  padding: 10px;
  color: #e23baa;
  font-weight: bolder;
}

.info {
  border: 1px solid grey;
  background-color: lightgrey;
}
.info h3 {
  color: black;
  text-transform: uppercase;
}
